@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="date" name="" underline="true"/>
                            <#input id="time" name="" underline="true"/>
                            <#input id="giftid" name="礼品id" underline="true"/>
                            <#input id="count" name="数量"/>
                </div>

                <div class="col-sm-6">
                            <#input id="score" name="分值" underline="true"/>
                            <#input id="openid" name="" underline="true"/>
                            <#input id="status" name="" underline="true"/>
                            <#input id="remark" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="GiftExchangeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="GiftExchangeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/integralMall/giftExchange/giftExchange_info.js"></script>
@}
