<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluoen.bm.modular.system.dao.BbsWxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eluoen.bm.modular.system.model.BbsWx">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="imgurls" property="imgurls" />
        <result column="openid" property="openid" />
        <result column="createdate" property="createdate" />
        <result column="createtime" property="createtime" />
        <result column="last_reply" property="lastReply" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, imgurls, openid, createdate, createtime, last_reply AS lastReply
    </sql>

    <select id="selectList_U" resultMap="BaseResultMap">
        SELECT * FROM tbl_bbs_wx
        WHERE 1=1
        <if test="userId != null and userId !=1">
            AND userid=#{userId}
        </if>
        <if test="condition != null and condition != ''">
            AND (content like CONCAT('%',#{condition},'%'))
        </if>
    </select>

</mapper>
