<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eluoen.bm.modular.system.dao.QrcodeAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eluoen.bm.modular.system.model.QrcodeAuth">
        <id column="id" property="id" />
        <result column="qrcode" property="qrcode" />
        <result column="bookid" property="bookid" />
        <result column="openid" property="openid" />
        <result column="createdate" property="createdate" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, qrcode, bookid, openid, createdate, createtime
    </sql>

    <select id="selectList_U" resultType="java.util.Map">
        SELECT a.*,m.*,b.* FROM tbl_qrcode_auth a,tbl_member m,tbl_book b
        WHERE a.openid=m.openid AND a.bookid=b.id
        <if test="userId != null and userId != 1">
            AND b.userid=#{userId}
        </if>
        <if test="condition != null and condition != ''">
            AND CONCAT(a.qrcode, m.nickname, IFNULL(m.mobile,''), IFNULL(m.fullname,''),b.name) like CONCAT('%',#{condition},'%')
        </if>
    </select>

</mapper>
