body {
	background: #F8F8F8;
	font-family: "microsoft yahei";
}

.header_dl a.logo {
	width: 95px;
	height: 40px;
	position: absolute;
	left: 15px;
	bottom: 2px;
}

.header_dl a.logo img {
	display: block;
	height: 100%;
}

.header_dl .search {
	width: 60%;
	background: #2b7bc9;
	float: right;
	margin-right: 2%;
	height: 27px;
	margin-top: 9px;
	border-radius: 13px;
	overflow: hidden;
	transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
}

.header_dl .search input.sea {
	width: 85%;
	height: 27px;
	outline: medium;
	border: none;
	vertical-align: middle;
	text-indent: 1em;
	background: #ffffff;
	font-family: "microsoft yahei";
}

.header_dl .search input.btn {
	width: 15%;
	height: 27px;
	background: url(../img/search_icon.png) center center no-repeat;
	border: none;
	outline: medium;
	vertical-align: middle;
	background-size: 18px;
	color: #fff;
}

.header_dl .back {
	float: left;
	font: 28px/45px "宋体";
	color: #fff;
	margin-left: 10px;
	display: none;
}

.header_dl input::-webkit-input-placeholder {
	color: #fff;
}

.slideBox {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	/*margin-bottom: 20px;*/
	max-width: 640px;
	/* 设置焦点图最大宽度 */
}

.slideBox .hd {
	position: absolute;
	height: 28px;
	line-height: 28px;
	bottom: 0;
	right: 40%;
	z-index: 1;
}

.slideBox .hd li {
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
}

.slideBox .hd li.on {
	background: orange;
}

.slideBox .hd ul {
	margin-top: 0;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
}

.slideBox .bd li {
	position: relative;
	text-align: center;
}

.slideBox .bd li img {
	background: url(/public/img/loading.gif) center center no-repeat;
	vertical-align: top;
	width: 100%;
	/* 图片宽度
100%，达到自适应效果 */
}

.slideBox .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 去掉链接触摸高亮 */

.slideBox .bd li .tit {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-indent: 10px;
	height: 28px;
	line-height: 28px;
	background: url(/public/img/focusBg.png) repeat-x;
	color: #fff;
	text-align: left;
}

.menu {
	font-size: 0;
	text-align: center;
	margin-top: 0;
	background: #fff;
	overflow: auto;
	padding-bottom: 10px;
}

.menu li {
	display: block;
	width: 25%;
	text-align: center;
	float: left;
}

.menu li i {
	display: block;
}

.menu li i img {
	width: 50%;
}

.menu li p {
	font: 13px/18px "microsoft yahei";
	color: #666;
	padding-top: 3px;
	font-size: 16px;
	line-height: 30px;
}

@-webkit-keyframes sx {
	from {
		top: -5px;
	}
	to {
		top: -7px;
	}
}

@-moz-keyframes sx {
	from {
		top: -5px;
	}
	to {
		top: -7px;
	}
}

.index {
	max-width: 640px;
	margin: 0 auto;
}

.index_list1 {
	background: #fff;
	padding: 0 0 10px 0;
	margin-top: 10px;
	line-height: 25px;
	color: #888;
	height: 309px;
}

.index_list1_con a {
	padding: 10px;
	display: block;
	height: 110px;
}

.index_list1_con span,
.index_list1 strong,
.index_list1 b {
	display: block;
}

.index_list1_l {
	float: left;
	width: 35%;
}

.index_list1 dl a {
	border-left: 1px solid #eaeae9;
}

.index_list1 span {
	font-size: 16px;
	color: #333;
	overflow: hidden;
	height: 25px;
}

.index_list1 strong {
	color: #888;
	font-weight: normal;
	overflow: hidden;
	height: 25px;
}

.index_list1 b {
	color: #fc822d;
}

.index_list1_l dl dd {
	text-align: center;
	padding: 20px 10px 0 0;
}

.index_list1_l dl dd img {
	width: 90px;
	height: 140px;
}

.index_list_l {
	float: left;
	width: 30%;
}

.index_list_r {
	float: left;
	width: 65%;
}

.index_list_r dl {
	float: left;
	width: 50%;
	border-bottom: 1px solid #eaeae9;
	position: relative;
	height: 130px;
}

.index_list_r dl dd {
	position: absolute;
	right: 5px;
	top: 79px;
}

.index_list_r dl dd img {
	width: 40px;
	height: 40px;
}

.index_list_r dl:nth-child(2n) a {
	border-right: 0;
}

.index_list_r dl:nth-child(3),
.index_list_r dl:nth-child(4) {
	border-bottom: 0;
}

.index_list3 {
	background: #fff;
	margin: 10px 0;
}

.index_title {
	line-height: 40px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	height: 40px;
	padding: 10px 0;
	color: #222;
}

.index_title:before {
	background: #fc822d;
	width: 4px;
	height: 25px;
	display: inline-block;
	content: " ";
	vertical-align: middle;
	margin: -2px 10px 0 5px;
}

.index_list2 {
	background: #fff;
	padding: 0 0 10px 0;
	overflow: auto;
	margin-top: 10px;
}

.index_list2_con ul {
	padding: 10px 0 0 0;
}

.index_list2_con ul li {
	float: left;
	width: 25%;
	text-align: center;
}

.index_list2_con ul li img {
	width: 60px;
	height: 70px;
}

.index_list2_con ul li span {
	display: block;
	line-height: 25px;
	color: #666;
	overflow: hidden;
}

.index_list3_con {
	height: 188px;
}

.index_list3_con dl a {
	color: #666;
	line-height: 30px;
	padding: 10px;
	display: block;
	position: relative;
}

.index_list3_con dl dt,
.index_list3_con dl dd {
	float: left;
	width: 50%;
}

.index_list3_con dl dt div {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	height: 83px;
}

.index_list3_con dl dt div:last-child {
	border-bottom: 0;
}

.index_list3_con dl dt div:last-child img {
	margin: 0;
	position: absolute;
	right: 0;
	top: 15px;
}

.index_list3_con dl dt div:last-child span {
	margin-right: 55px;
}

.index_list3_con dl dt div span i {
	height: 25px;
	overflow: hidden;
	font-style: normal;
	display: block;
}

.index_list3_con dl dt img {
	float: left;
	width: 70px;
	height: 70px;
	margin: 0 10px 0 5px;
}

.index_list3_con dl dt span {
	margin: 5px 0 0 0;
	height: 50px;
	overflow: hidden;
	display: block;
	line-height: 25px;
}

.index_list3_con dl dt span b {
	display: block;
	color: #fc822d;
	font-weight: normal;
	font-size: 10pt;
}

.index_list3_con dl dd {}

.index_list3_con dl dd span,
.index_list3_con dl dd b,
.index_list3_con dl dd strong {
	display: block;
}

.index_list3_con dl dd span {
	height: 30px;
	overflow: hidden;
}

.index_list3_con dl dd a {
	border-left: 1px solid #ddd;
}

.index_list3_con dl dd b {
	color: #fc822d;
	font-weight: normal;
	font-size: 10pt;
}

.index_list3_con dl dd strong {
	text-align: right;
}

.index_list3_con dl dd img {
	width: 120px;
	height: 97px;
}

.pro_cf .index_title {
	border-bottom: 0;
	padding: 0;
}

.pro_cf {
	max-width: 640px;
	margin: 8px auto 0;
	background: #fff;
	padding: 10px 0;
}

.cf_list {
	overflow: hidden;
	padding-top: 10px;
}

.cf_list li {
	width: 45%;
	margin-left: 3%;
	float: left;
	height: 60px;
	background: #f5f5f5;
	padding: -1px;
	overflow: hidden;
	margin-bottom: 8px;
}

.cf_list li .txt {
	width: 70%;
	padding: 5px 0 0 0;
	float: left;
}

.cf_list li .txt h5 {
	font: 14px/20px "microsoft yahei";
	padding-left: 10px;
}

.cf_list li .txt p {
	font: 12px/14px "microsoft yahei";
	color: #999;
	padding-left: 10px;
}

.cf_list li .txt h5 a {
	color: #666;
	font-size: 16px;
	line-height: 30px;
}

.cf_list li .txt p a {
	color: #999;
}

.cf_list li .pic {
	width: 30%;
	text-align: center;
	float: right;
	display: table;
	height: 49px;
}

.cf_list li .pic .tabcell {
	display: table-cell;
	vertical-align: middle;
	height: 49px;
}

.cf_list li .pic .tabcell img {
	margin-top: 12px;
	width: 35px;
}

.submenu {
	text-align: center;
	font-size: 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	border-top: 1px solid #c8c7cc;
	padding-top: 10px;
	height: 20px;
}

.submenu li {
	display: block;
	font: 15px/16px "microsoft yahei";
	border-right: 1px solid #ccc;
	width: 32%;
	float: left;
}

.submenu li a {
	color: #666;
}

.submenu li a img {
	vertical-align: middle;
	margin: -2px 5px 0 0;
	width: 20px;
}

.pcph {
	text-align: center;
	padding: 10px 0;
}

.pcph li {
	display: inline-block;
	font: 15px/16px "microsoft yahei";
	margin: 0 18px;
}

.pcph li a {
	color: #666;
}

.pcph li a img {
	width: 35px;
	vertical-align: middle;
	margin: -2px 5px 0 0;
}

.pcph li img {
	margin-right: 4px;
}

.copy {
	font: 12px/24px "microsoft yahei";
	color: #999;
	text-align: center;
	padding-bottom: 8px;
	margin-top: 30px;
}

.btntop {
	width: 40px;
	height: 41px;
	right: 10px;
	bottom: 10px;
	position: fixed;
	display: none;
}

.searchBox {
	position: absolute;
	top: 45px;
	background: #ffffff;
	width: 100%;
	padding-bottom: 20px;
	display: none;
	z-index: 9999;
}

.searchBox .hot {
	overflow: hidden;
	background: #efeff4;
	border-bottom: 1px solid #ddd;
}

.searchBox .hot h4 {
	font: 15px/44px "microsoft yahei";
	color: #333;
	float: left;
	padding-left: 10px;
}

.searchBox .hot a {
	float: right;
	margin-right: 10px;
	font: 12px/44px "microsoft yahei";
	color: #333;
	vertical-align: middle;
}

.searchBox .hot a img {
	vertical-align: middle;
	margin-right: 5px;
}

.searchBox .title {
	font-size: 0;
	text-align: center;
	padding: 10px 0;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

.searchBox .title li {
	display: inline-block;
	width: 28%;
	background: #fff;
	text-align: center;
	font: 14px/26px "microsoft yahei";
	border: 1px solid #ddd;
	border-radius: 13px;
	margin: 0 1% 6px;
}

.searchBox .title li a {
	color: #333;
	display: block;
}

.searchBox .list {
	overflow: hidden;
}

.searchBox .list li {
	font: 13px/38px "microsoft yahei";
	border-bottom: 1px solid #ddd;
}

.searchBox .list li a {
	display: block;
	padding-left: 15px;
	color: #666;
}


/***  咨询 *****/

.contact {
	position: fixed;
	right: 5px;
	bottom: 50px;
	z-index: 1;
}

.contact img {
	width: 48px;
}


/*
 * 以下是20181127
 */

* {
	padding: 0;
	margin: 0
}

img {
	border: 0;
}

ul,
ol {
	list-style: none
}

a {
	text-decoration: none
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-table;
}


/* Hides from IE7 - mac \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}


/* End hide from IE7 - mac */

.header_dl {
	max-width: 640px;
	margin: 0 auto;
	height: 45px;
	background: #0054a7;
	position: relative;
}

.header_dl a.dl {
	width: 24px;
	height: 20px;
	position: absolute;
	left: 15px;
	top: 28%;
}

.header_dl a.dl img {
	display: block;
	height: 100%;
}

.header_dl h4 {
	font: 17px/45px "microsoft yahei";
	color: #fff;
	text-align: center;
}

.menubtn {
	position: absolute;
	top: 25%;
	right: 15px;
}

#popup_container {
	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 320px;
	/* Dialog will be no smaller than this */
	max-width: 640px;
	/* Dialog will wrap after this width */
	background: #FFF;
	border: solid 1px #0054A7;
	color: #000;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border-radius: 5px;*/
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	/*text-align: center;*/
	line-height: 1.75em;
	color: #666;
	border: solid 1px #FFF;
	border-bottom: solid 1px #cccccc;
	cursor: default;
	padding: 0.2em;
	margin: 0em;
}

#popup_content {
	/*background: 16px 16px no-repeat url(http://keleyi.com/keleyi/phtml/jqplug/index/info.gif);*/
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	/*background-image: url(http://keleyi.com/keleyi/phtml/jqplug/index/info.gif);*/
}

#popup_content.confirm {
	/* background-image: url(http://keleyi.com/keleyi/phtml/jqplug/index/important.gif);*/
}

#popup_content.prompt {
	/* background-image: url(http://keleyi.com/keleyi/phtml/jqplug/index/help.gif);*/
}

#popup_message {
	/*padding-left: 48px;*/
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

#popup_ok {
	background: #0054A7 none repeat scroll 0 0;
	/*border-radius: 4px;*/
	height: 30px;
	margin-left: 20px;
	margin-bottom: 5px;
	width: 100px;
	border: 1px;
	color: #FFFFFF;
	z-index: 100000;
	line-height: 30px;
	float: left;
}

#popup_cancel {
	background: #0054A7 none repeat scroll 0 0;
	/*border-radius: 4px;*/
	height: 30px;
	margin-right: 20px;
	margin-bottom: 5px;
	width: 100px;
	border: 1px;
	color: #FFFFFF;
	z-index: 100000;
	line-height: 30px;
	float: right;
}


/*
 * 以下是20181127
 */

.ios .pane .content {
	top: 64px;
}

.android .pane .content {
	top: 44px;
}

.devider {
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	min-height: 10px;
	background: #f5f5f5;
}

.b-line {
	position: relative;
}

.b-line:before {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 1px;
	border-bottom: 1px solid rgba(207, 207, 207, 0.95);
	color: rgba(207, 207, 207, 0.95);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.501);
	transform: scaleY(0.501);
}

.list-item-caption {
	display: flex;
}

.list-item-caption h2 {
	font-size: 16px;
	color: #333;
	font-weight: normal;
	padding: 10px 0 10px 15px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.list-item-store ul {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.list-item-store ul li {
	width: 50%;
	float: left;
	list-style: none;
}

.list-item-store .list-item-shop {
	width: 100%;
	position: relative;
}

.list-item-store .list-item-shop a {
	display: block;
}

.list-item-store .list-item-shop a img {
	width: 100%;
	display: block;
	border: none;
}

.list-item-shop .list-item-shop-fix {
	padding: 15px;
	display: flex;
}

.list-item-shop .list-item-shop-fix a {
	display: flex;
	width: 50%;
}

.list-item-shop .list-item-shop-fix a .list-item-shop-fl {
	padding-left: 10px;
}

.list-item-shop .list-item-shop-fix h2 {
	font-size: 15px;
	color: #333;
	font-weight: normal;
}

.list-item-shop .list-item-shop-fix p {
	display: block;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	color: #999999;
}

.item-lattice .list-item-shop span {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.item-lattice .list-item-shop span img {
	width: 100%;
	display: block;
	border: none;
}

.r-line {
	position: relative;
}

.r-line:before {
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	border-right: 1px solid rgba(207, 207, 207, 0.95);
	color: rgba(207, 207, 207, 0.95);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
}

.item-clear ul li {
	width: 100%;
}

.t-line {
	position: relative;
}

.t-line:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	border-top: 1px solid rgba(207, 207, 207, 0.95);
	color: rgba(207, 207, 207, 0.95);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.501);
	transform: scaleY(0.501);
}

.list-item-banner img {
	width: 100%;
	overflow: hidden;
	border: none;
	display: block;
}

.item-groom ul li {
	width: 33.333333%;
}



.item-lattice ul li a {
	padding: 20px 10px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	display: block;
	position: relative;
}
.item-lattice ul li a p {
	color: #666;
}
.item-lattice .list-item-shop span {
	width: 50px;
	height: 50px;
	display: inline-block;
}
.item-lattice .list-item-shop span img {
	width: 100%;
	display: block;
	border: none;
}
.box-line {
	position: relative;
}
.box-line:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	border: 1px solid rgba(207, 207, 207, 0.95);
	border-radius: 0;
	color: rgba(207, 207, 207, 0.95);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.501);
	transform: scale(0.501);
}
.box-line-white {
	position: relative;
}
.box-line-white:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	border: 1px solid rgba(255, 255, 255, 0.99);
	border-radius: 0;
	color: rgba(207, 207, 207, 0.95);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.501);
	transform: scale(0.501);
}