@charset "utf-8";
/* CSS Document */

html{
	/*font-family: "Helvetica Neue", Helvetica, */
	font-size: 20px;
}
body {
	line-height: 1.5;
	font-size: 0.8rem;
	color: #212121;
	background-color: #f5f5f5;
	outline: 0;
	padding:0;
	margin:0;
}
em{font-style: normal;}
/*liequtop*/
.liequtop{
	width:100%;
	height:50px;
	background-color:#222126;
	position:fixed;
	top:0px;
	z-index:999;
}
.liequtop img{
	display:block;
	width:183px;
	height:50px;
	float:left;
}
.liequtop .lieop{
	width:33%;
	height:50px;
	float:right;
	background-color:#fe0000;
	text-align:center;
	color:#fff;
	line-height:50px;
	font-size:15.625px;
}



/*slide*/
.aui-slide{
	width:100%;
	height:464px;
	background-color:#efefef;
}
.aui-slide-wrap {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.aui-slide-wrap .aui-slide-node {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow: hidden;
    background: #ffffff;
}
.aui-slide-node-center {
	display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
}
.aui-slide-node-middle {
	display: -moz-box;
    display: -webkit-box;
    display: box;
	-moz-box-align: center;
    -webkit-box-align: center;
    box-align: center;
}
.aui-slide-node img {
    width: 100%;
    height: 100%;
}
.aui-slide-page-wrap {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    bottom: -40px;
    z-index: 990;
    text-align: center;
}
.aui-slide-page-dot {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    list-style: none;
    margin: 0px 5px 0 5px;
    background: #bebebe;
    border-radius:4px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}
.aui-slide-page-line {
	position: absolute;
	bottom: -14px;
	height: 1px !important;
	position: relative;
    display: inline-block;
    background: #eeeeee;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}
.aui-slide-page-active {
    background:none;
    width:8px;
    height:8px;
    border-radius:50%;
	background-color:#fb0000;
}
.aui-slide-prev-btn,
.aui-slide-next-btn {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
    color: #1abc9c;
    background: rgba(249,249,249,0.6);
    position: relative;
}
.aui-slide-prev-btn {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.aui-slide-next-btn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.aui-slide-prev-btn:active,
.aui-slide-next-btn:active {
    color: #f1c40f;
}


/*商品页信息1*/
.goods_info{
	width:100%;
	height:auto;
	overflow:hidden;
	background-color:#fff;
	padding:6px 0px;
}
.goods_info .i-gtitle{
	vertical-align: middle;
	font-size: 16.70833333px;
	width:94%;
	margin:0 auto;
}
.goods_info .i-gtitle em{
	display: inline-block;
    border: 1px solid red;
    color: red;
    font-size: 11.45833333px;
    vertical-align: middle;
    border-radius: 2px;
    padding: .2em .3em .1em;
    line-height: 1;
	 margin-left: .1em;
    margin-right: .1em;
    -webkit-transform: translateY(-.15em);
    transform: translateY(-.15em);
}
.goods_info .pro-numb{
	vertical-align: middle;
	font-size: 17.70833333px;
    color: red;
	width:94%;
	margin:0 auto;
}
.goods_info .pro-numb em{
	font-size: 22.91666667px;
}
.goods_info .pro-adr{
	vertical-align: middle;
	color: #999;
    font-size: 12.5px;
	width:94%;
	margin:0 auto;
}
.goods_info .pro-adr span{
    width:160px;
	height:20px;
}
.goods_info .pro-adr span i{
	display:block;
    width:10px;
	height:12px;
	margin:1px 1px 0 0;
	background-image: url(../img/ico-dw.png);
	float:right;
}
.goods_info .pro-adr span em{
	display:block;
	height:20px;
	float:right;
	margin-bottom:20px;
}


.goods_info .proto{
	vertical-align: middle;
	width:94%;
	margin:0 auto;
}
.goods_info .proto .hh{
	display:block;
	height:30px;
	font-size: 16;
	float:left;
}
.goods_info .proto .hh span{
	display:block; float:left;
}
.goods_info .proto .hh img{
	display:block;margin:2px 0 0 10px;float:left;
}
.goods_info .pro-proto{
	clear:both;
	vertical-align: middle;
	width:94%;
	margin:30px auto 0 auto;
}
.goods_info .pro-proto span{
	display:block;
	height:24px;
	float:left;
	margin-right:12px;
}
.goods_info .pro-proto span i{
	display:block;
	width:16px;
	height:16px;
	margin-top:4px;
	margin-right:3px;
	background-image: url(../img/ico-gou.png);
	float:left;
}
.goods_info .pro-proto span em{
	font-size: 13.54166667px;
	line-height:24px;
	color:#666;
}

.goods_info .ginfo{
	clear:both;
	vertical-align: middle;
	width:94%;
	margin:0 auto 70px auto;
}
.goods_info .ginfo .hh{
	display:block;
	height:30px;
	font-size: 16px;
	float:left;
	margin-top:20px;
}
.goods_info .ginfo .cc{
	clear:both;
	width:100%;
	font-size: 14.58333333px;
    color: #666;
}

/*xuan-i*/
.xuan-i{
	width:100%;
	height:312px;
	background-color:#fff;
	position:fixed;
	bottom:0;
	z-index:1000;
}
.xuan-i .waidiv{
	width:100%;
	height:312px;
	position:relative;
}
.xuan-i .waidiv a.xuanhide{
	display:block;
	width:21px;
	height:21px;
	position:absolute;
	top:8px;
	right:8px;
	background-image: url(../img/ico-x.png);
}
.xuan-i .waidiv .but{
	display:block;
	-webkit-appearance: none;
	border: none;
	width:100%;
	height:53px;
	background-color:#fe0000;
	text-align:center;
	color:#fff;
	line-height:53px;
	font-size:17.625px;
	position:fixed;
	bottom:0;
	z-index:1001;
	text-decoration: none;

	
	/*
	
	display:block;
	width:100%;
	height:53px;
	background-color:#fe0000;
	text-align:center;
	color:#fff;
	line-height:53px;
	font-size:17.625px;
	position:fixed;
	bottom:0;
	z-index:1001;
	text-decoration: none;
	*/
	
}
.xuan-i .waidiv .f-goodsimg{
	width:110px;
	height:110px;
	padding:5px;
	background-color:#fff;
	border:1px solid #EBEBEB;
	position:absolute;
	top:-20px;
	left:8px;
}
.xuan-i .waidiv .f-jiage{
	height:40px;
	position:absolute;
	top:18px;
	font-size: 18.54166667px;
	color:#ff1f1f;
	left:145px;
}
.xuan-i .waidiv .f-kcs{
	height:40px;
	position:absolute;
	top:45px;
	font-size: 12.333px;
	color:#333;
	left:145px;
}
.xuan-i .waidiv .f-kcs span{color:#ff1f1f;}
.xuan-i .waidiv .forn-gmsl{
	width:80px;
	height:36px;
	font-size: 15.20833333px;
	position:absolute;
	top:130px;
	left:8px;
}
.xuan-i .waidiv .forn-inline{
	height:36px;
	position:absolute;
	top:127px;
	right:8px;
	float:right;
}


.xuan-i .waidiv .forn-inline .butxz{
    -webkit-appearance: none;
    background: #ebebeb;
    border: none;
    color: #999999;
    cursor: pointer;
    height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width:36px;
}
.xuan-i .waidiv .forn-inline .buynum{
	border:0;outline:none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    height: 36px;
	text-align:center;
	line-height:36px;
	width:20px;
}

.xuan-zz{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	background: rgba(0,0,0, 0.6);
	z-index:998;
}

/*foot-gm*/
.foot-gm{
	width:100%;
	height:53px;
	background-color:#fe0000;
	text-align:center;
	color:#fff;
	line-height:53px;
	font-size:15.625px;
	position:fixed;
	bottom:0;
	z-index:999;
}







/*sh-info*/
.sh-info{
	display:block;
	width:100%;
	height:90px;
	background-color:#fff;
}
.sh-info .i-wz{
	width:17px;
	height:22px;
	background-image: url(../img/ico-dw2.png);
	float:left;
	margin-left:8px;
	margin-top:23px;
}
.sh-info .u-info{
	height:72px;
	float:left;
	margin-left:8px;
}
.sh-info .u-info .u-name{
	height:34px;
	line-height:42px;
	font-size:15.625px;
	color:#000;
}
.sh-info .u-info .u-add{
	/*height:35px;*/
}
.sh-info .u-info .u-add span{
	display:block;
	float:left;
	height:18px;
	padding:0 8px;
	border-radius:9px;
	background-color:#f20704;
	color:#fff;
	font-size:11px;
	line-height:17px;
	margin-right:4px;
	margin-top:2px;
}
.sh-info .u-info .u-add em{
	font-size:14px;
	color:#000;
}
.sh-info .i-rico{
	width:11px;
	height:20px;
	background-image: url(../img/right-j.png);
	float:right;
	margin:24px 8px 0 0;
}
.sh-info-b{
	width:100%;
	height:7px;
	background:url(../img/tiao-1.png) no-repeat center top;
}


/*sj-name*/
.sj-name{
	width:100%;
	height:48px;
	background-color:#FFF;
	margin-top:10px;
}
.sj-name img{
	display:block;
	width:20px;
	height:20px;
	float:left;
	margin:14px 8px 0px 8px;
}
.sj-name span{
	display:block;
	height:48px;
	line-height:48px;
	font-size:16px;
}
.por-info{
	width:100%;
	height:110px;
}
.por-info .goodsi{
	height:94px;
	float:left;
	margin:8px 0 0 8px;
}
.por-info .goodsi img{
	display:block;
	width:94px;
	height:94px;
	float:left;
}
.por-info .goodsi span{
	height:94px;
	float:left;
	font-size:14px;
	color:#999;
	margin-left:8px;
}
.por-info em{
	display:block;
	height:30px;
	float:right;
	margin-right:8px;
	font-size:14px;
}

/*div-m*/
.div-m{
	width:100%;
	height:auto;
	background-color:#fff;
	overflow:hidden;
}
.div-m .goumaisl{
	height:54px;
}
.div-m .goumaisl span{
	height:54px;
	float:left;
	margin-left:8px;
	font-size:16px;
	line-height:53px;
}
.div-m .goumaisl em{
	height:54px;
	float:right;
	margin-right:8px;
	font-size:16px;
	line-height:53px;
}

.div-m .yunfei{
	height:54px;
}
.div-m .yunfei span{
	height:54px;
	float:left;
	margin-left:8px;
	font-size:16px;
	line-height:53px;
}
.div-m .yunfei em{
	height:54px;
	float:right;
	margin-right:8px;
	font-size:16px;
	line-height:53px;
}

.div-m .liuyan{
	width:95%;
	margin:0 auto;
}
.div-m .liuyan span{
	display:block;
	width:50px;
	height:54px;
	font-size:16px;
	line-height:53px;
	float:left;
}
.div-m .liuyan .inputly{
	width:200px;
	border:0;outline:none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 36px;
	line-height:36px;
	float:left;
	margin-top:8px;
}
.div-m .tongjij{
	width:95%;
	margin:0 auto;
}
.div-m .tongjij span{
	height:54px;
	float:right;
	margin-left:8px;
	font-size:16px;
	line-height:53px;
}
.div-m .tongjij em{
	height:54px;
	float:right;
	margin-right:0px;
	font-size:15px;
	line-height:53px;
	color:#e1021f;
}
.div-m .por-yanji{
	width:95%;
	height:68px;
	margin:0 auto;
}
.div-m .por-yanji .ico-y{
	width:21px;
	height:21px;
	background-image: url(../img/ico-yan.png);
	float:left;
	margin:24px 10px 0 0;
}
.div-m .por-yanji .text-y{
	float:left;
	font-size:15px;
	line-height:68px;
}
.div-m .por-yanji .ico-k{
	width:65px;
	height:40px;
	background-image: url(../img/ico-yk.png);
	float:right;
	margin:13px 10px 0 0;
}
.div-m .por-sm{
	clear:both;
	width:95%;
	font-size:13px;
	line-height:22px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	padding-bottom:8px;
	color:#666;
}

.div-m .pay-weixin{
	width:95%;
	height:54px;
	margin:0 auto;
}
.div-m .pay-weixin .ico-wx{
	width:21px;
	height:20px;
	background-image: url(../img/ico-weixin.png);
	float:left;
	margin:16px 10px 0 0;
}
.div-m .pay-weixin .ico-zfb{
	width:21px;
	height:20px;
	background-image: url(../img/ico-zhifubao.png);
	float:left;
	margin:16px 10px 0 0;
}
.div-m .pay-weixin .text-y{
	float:left;
	font-size:15px;
	line-height:54px;
}
.div-m .pay-weixin .ico-gou{
	width:23px;
	height:24px;
	background-image: url(../img/ico-d.png);
	float:right;
	margin:16px 10px 0 0;
}

.zzpost{
	width:180px;  
    height:45px;  
	text-align:center;
    position:absolute;
	background: rgba(0,0,0, 0.6);
    left:50%;  
    top:50%;  
    margin:-45px 0 0 -90px;
	border-radius:5px;
	color:#fff;
	line-height:45px;
}
.zzpost span{
	display:block;
	width:24px;
	height:24px;
	background-image: url(../img/5-121204194028.gif);
	float:left;
}
.zzpost span em{
	
}

/*p-foot*/
.p-foot{
	width:100%;
	height:47px;
	background-color:#ffffff;
	position:fixed;
	bottom:0px;
	z-index:999;
}
.p-foot .f-heji{
	height:47px;
	color:#212121;
	line-height:47px;
	font-size:16.625px;
	float:left;
	margin-left:8px;
	
}
.p-foot .f-pay{
	width:115px;
	height:47px;
	background-color:#fe0000;
	text-align:center;
	color:#fff;
	line-height:47px;
	font-size:18.625px;
	float:right;
	text-decoration: none;
}




/*dingdanye*/
.dingdanye{
	width:95%;
	height:auto;
	margin:0 auto;
	padding-top:25px;
}
.dingdanye .ddname{
	height:40px;
	text-align:center;
	font:20px/50px '黑体';
}
.dingdanye .ddhao{
	height:40px;
	text-align:center;
	font:22px/40px '黑体';
	font-weight: bold;
}
.dingdanye .ddjiage{
	height:45px;
	text-align:center;
	font:40px/40px 'Microsoft Yahei';
	font-weight: bold;
}

.quepay{
	width:100%;
	height:48px;
	background-color:#FFF;
	margin:30px 0 10px 0;
}
.quepay span{
	display:block;
	height:48px;
	line-height:48px;
	font-size:15px;
	color:#999;
	float:left;
	margin-left:10px;
}
.quepay em{
	display:block;
	height:48px;
	line-height:48px;
	font-size:15px;
	color:#000;
	float:right;
	margin-right:10px;
}

.pay-but{
	display:block;
	width:94%;
	height:48px;
	background-color:#41bc1d;
	color:#fff;
	line-height:48px;
	font-size:18px;
	text-align:center;
	margin:25px auto 0 auto;
	border-radius:4px;
}

.paypage{ 
    width:300px;  
    height:420px;
	background-color:#fff;
    position:absolute;
	z-index:9999;
	top:50px;
	left: 50%;
	margin-left: -150px;

} 
.paypage .ttma{
	width:100%;
	height:42px;
	border-bottom:1px solid #c3d8c9;
}
.paypage .ttma a{
	display:block;
	width:35px;
	height:35px;
	float:left;
	background-image: url(../img/ico-cha.png);
	margin-left:2px;
	margin-top:4px;
}
.paypage .ttma span{
	display:block;
	float:left;
	height:42px;
	margin-left:5px;
	line-height:42px;
	font-size:16px;
	color:#333;
}
.paypage .textsm{
	width:100%;
	height:26px;
	line-height:26px;
	font-size:14px;
	text-align:center;
	margin-top:20px;
}
.paypage .wxewm{
	width:200px;
	height:200px;
	margin:10px auto 0 auto;
	background-color:#CCC;
}
.paypage .wxewm img{
	width:200px;
	height:200px;
}
.paypage .paysm{
	width:92%;
	height:30px;
	border-top:1px solid #E6E6E6;
	line-height:20px;
	font-size:14px;
	margin:15px auto 0 auto;
	padding-top:10px;
	text-align:center;
}
.paypage .paysm-1{
	width:92%;
	height:30px;
	line-height:20px;
	font-size:14px;
	margin:0 auto 0 auto;
	padding-top:0px;
	color:#999;
}

.paypagezz{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	background: rgba(0,0,0, 0.6);
	z-index:998;
}



