<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<script type="text/javascript">
function is_weixn(){
   var ua = navigator.userAgent.toLowerCase();
   if(ua.match(/MicroMessenger/i)=="micromessenger") {
       return true;
   } else {
       return false;
   }
}

if(!is_weixn()){
	 //alert('请在微信中访问！');
	 location.href='${ctxPath}/static/modular/mp/illegal.html';
}
</script>

<script type="text/javascript">
    var userId = '${userId}';
    var IP = '${IP}';
	var redirect_uri = encodeURIComponent(IP+"/mp/home?userId="+userId);
	//alert(redirect_uri);

	var appid= '${appid}';
	var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+appid+"&redirect_uri="+redirect_uri+"&response_type=code&scope=snsapi_base&state=1#wechat_redirect";
	//alert(url);
	location.href=url;	
</script>

<body>



</body>
</html>