<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="${ctxPath}/static/modular/mp/css/opinion.css">
	<script src="${ctxPath}/static/modular/mp/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="${ctxPath}/static/modular/mp/js/opinion.js" type="text/javascript"></script>
    <title>${session.mpInfo!=null?session.mpInfo.title:'建议/意见'}</title>
</head>
<body>
	<div class="wrap">
		<form>
			<input type="hidden" id="ctxPath" value="${ctxPath}">
			<input type="hidden" id="openid" value="${session.openid}">

			<ul class="yj_list">
				<li>
					<label>反馈意见<span class="red">*</span></label>
					<textarea id="content" placeholder="请填写您的建议/意见"></textarea>
				</li>
				<li>
					<label>联系方式<span class="red">*</span></label>
					<input type="number" id="mobile" placeholder="请输入您的联系方式">
				</li>
			</ul>
			<a class="tj" id="opinionSubmit">提 交</a>
		</form>
	</div>

</body></html>