<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>${session.mpInfo!=null?session.mpInfo.title:"认证失败"}</title>
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    
    <style type="text/css">
    	body{
    		margin: 0;
    		padding: 0s;
    	}
    </style>
    
</head>

<body class="gray-bg">

<img src="${ctxPath}/static/modular/mp/images/cd4dd96353cf18187e40775b7804b801.jpg" style="width: 100%;" />

<div style="padding: 10px;">
    <div style="padding: 10px;">
        <div>
            <h3>验证失败，请检查！</h3>
        </div>
        <h3>${qrcode}</h3>
        <h3>错误代码：${sign}</h3>
        <h4 style="color: red;">请扫描书籍上的防伪码进行认证，认证后可享受增值服务。</h4>

		<div class="aui-text-head">
            <div>
                <h2>会员权益</h2>
            </div>
            <div>
				<p  style="font-size: 0.9em;line-height: 25px;letter-spacing: 1px;">
					使用本书配套的视频/音频资料<span style="font-size: 0.6em;">（全部图书） </span><br>
					使用增值电子谱资料<span style="font-size: 0.6em;">（部分图书）</span><br>
					会员论坛交流<span style="font-size: 0.6em;">（部分图书）</span><br>
					获取网络课程<span style="font-size: 0.6em;">（部分图书）</span>
				</p>
				<p>&nbsp;</p>

				
            </div>
        </div>




    </div>
</div>






</body>

</html>
