<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <title>${session.mpInfo!=null?session.mpInfo.title:'找朋友'}</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="${ctxPath}/static/modular/mp/lbs/css/friend.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="${ctxPath}/static/modular/mp/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/static/modular/mp/lbs/js/tab.js"></script>
    <script src="${ctxPath}/static/modular/mp/js/toast.js" type="text/javascript"></script>
</head>

<script type="text/javascript">
    function sendMessage(touser) {
        //alert(touser);
        if(confirm("确定给"+touser+"发信息吗?")){

            $.ajax({
               type: "POST",
               url: "${ctxPath}/mp/lbs/sendMessage",
               data: "touser="+touser+"&templateId=1",
               success: function (res) {
                   //alert(JSON.stringify(res));
                   if(res.code==200){
                       toast("请求已发送，请等待对方回应！",3000);
                   }
               }
            });

        }
    }
</script>

<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">找朋友</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-sys"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-tab" data-ydui-tab="">
            <ul class="tab-nav">
                <li class="tab-nav-item tab-active">
                    <a href="javascript:;">
                        <span>同一本书</span>
                    </a>
                </li>
                <li class="tab-nav-item">
                    <a href="javascript:;">
                        <span>广交天下</span>
                    </a>
                </li>
            </ul>
            <div class="tab-panel">
                <div class="tab-panel-item tab-active">

                    @if(openidList!=null){
                    @for(map in openidList){
                    @if(map.openid!=session.openid){
                    <a onclick="sendMessage('${map.openid}')" class="aui-flex b-line">
                        <div class="aui-album-img">
                            <img src="${map.headimgurl}" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>${map.nickname} <em>${map.distance}km</em></h2>
                            <h3>${map.recommend}</h3>
                            <p>${map.address}</p>
                        </div>
                        <div class="aui-album-button aui-album-button-add">
                            <button>+关注</button>
                        </div>
                    </a>
                    @}
                    @}
                    @}

                </div>
                
                
                <div class="tab-panel-item">

                    @if(useridList!=null){
                    @for(map in useridList){
                    @if(map.openid!=session.openid){
                    <a onclick="sendMessage('${map.openid}')" class="aui-flex b-line">
                        <div class="aui-album-img">
                            <img src="${map.headimgurl}" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>${map.nickname} <em>${map.distance}km</em></h2>
                            <h3>${map.recommend}</h3>
                            <p>${map.address}</p>
                        </div>
                        <div class="aui-album-button aui-album-button-add">
                            <button>+关注</button>
                        </div>
                    </a>
                    @}
                    @}
                    @}

                    <!--
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-author-user">
                            <img src="./friend_files/vip-002.png" alt="">
                        </div>
                        <div class="aui-album-img">
                            <img src="./friend_files/user-002.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>小梅同志 <em>分析师</em></h2>
                            <h3>周阅读量33万</h3>
                            <p>坐标杭州、上海、北京微信号:yyossom 加好友时请备注公司和职位以及来意、欢迎交流~</p>
                        </div>
                        <div class="aui-album-button">
                            <button>已关注</button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-author-user">
                            <img src="./friend_files/vip-004.png" alt="">
                        </div>
                        <div class="aui-album-img">
                            <img src="./friend_files/user-004.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>凌驾者 <em>分析师</em></h2>
                            <h3>周阅读量33万</h3>
                            <p>坐标杭州、上海、北京微信号:yyossom 加好友时请备注公司和职位以及来意、欢迎交流~</p>
                        </div>
                        <div class="aui-album-button aui-album-button-add">
                            <button>+关注</button>
                        </div>
                    </a>
                    -->

                </div>
            </div>
        </div>
    </section>
</section>


</body>
</html>