@layout("/common/_container.html"){
<style type="text/css">
    .div1{
        float: left;
        position: relative;
        margin-right: 3px;
    }
    .div2{
        width: 18px;
        height: 18px;
        text-align: center;
        background-color: red;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .img1{
        width: 175px;
        height: 175px;
    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="imgurl1" name="imgurls" value="${item.imgurl1}">
            <input type="hidden" id="imgurl2" name="imgurls" value="${item.imgurl2}">
            <input type="hidden" id="imgurl3" name="imgurls" value="${item.imgurl3}">
            <input type="hidden" id="imgurl4" name="imgurls" value="${item.imgurl4}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="名称" value="${item.name}" />
                    <#textarea id="attributes" name="参数" value="${item.attributes}" style="width:100%;height:100px;" />
                    <#input id="stock" name="库存" type="number" value="${item.stock}" />
                </div>

                <div class="col-sm-6">
                    <#input id="score" name="分值" type="number" value="${item.score}" />
                    <#textarea id="describes" name="描述" value="${item.describes}" style="width:100%;height:100px;" />
                    <#input id="sale" name="销量" type="number" value="${item.sale}" />
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <#resup id="imgurl" name="" />
                    <div class="div1"><img id="img_imgurl1" src="${ctxPath}/kaptcha/kap?name=${item.imgurl1}" class="img1"><div id="div1" onclick="delImg('imgurl1')" class="div2">X</div></div>
                    <div class="div1"><img id="img_imgurl2" src="${ctxPath}/kaptcha/kap?name=${item.imgurl2}" class="img1"><div id="div2" onclick="delImg('imgurl2')" class="div2">X</div></div>
                    <div class="div1"><img id="img_imgurl3" src="${ctxPath}/kaptcha/kap?name=${item.imgurl3}" class="img1"><div id="div3" onclick="delImg('imgurl3')" class="div2">X</div></div>
                    <div class="div1"><img id="img_imgurl4" src="${ctxPath}/kaptcha/kap?name=${item.imgurl4}" class="img1"><div id="div4" onclick="delImg('imgurl4')" class="div2">X</div></div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="GiftInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="GiftInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/integralMall/gift/gift_info.js"></script>
@}
