@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="expressUserInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#select id="expCode" name="快递公司">
                                <option value="">------ 请选择 ------</option>
                                @for(express in expresses){
                                <option value="${express.exp_code}"> ${express.exp_name}</option>
                                @}
                            </#select>
                </div>

                <div class="col-sm-6">
                            <#input id="userid" name="账号" value="${shiro.getUser().id}" readonly="readonly" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExpressUserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExpressUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/market/expressUser/expressUser_info.js"></script>
@}
