@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>书籍目录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">书籍列表</div>
                                    <div class="panel-body dept-tree">
                                        <ul id="bookTree" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-sm-9">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <#NameCon id="condition" name="名称" />
                                    </div>
                                    <div class="col-sm-3">
                                        <#button name="搜索" icon="fa-search" clickFun="BookCatalog.search()"/>
                                    </div>
                                </div>
                                <div class="hidden-xs" id="BookCatalogTableToolbar" role="group">
                                    @if(shiro.hasPermission("/bookCatalog/add")){
                                    <#button name="添加" icon="fa-plus" clickFun="BookCatalog.openAddBookCatalog()"/>
                                    @}
                                    @if(shiro.hasPermission("/bookCatalog/update")){
                                    <#button btnCss="warning" name="修改" icon="fa-edit" clickFun="BookCatalog.openBookCatalogDetail()" space="true"/>
                                    @}
                                    @if(shiro.hasPermission("/bookCatalog/delete")){
                                    <#button btnCss="danger" name="删除" icon="fa-remove" clickFun="BookCatalog.delete()" space="true"/>
                                    @}
                                    @if(shiro.hasPermission("/bookCatalog/qrcode")){
                                    <#button btnCss="success" name="生成二维码" icon="fa-qrcode" clickFun="BookCatalog.qrcode()" space="true"/>
                                    @}
                                </div>
                                <#table id="BookCatalogTable"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/book/bookCatalog/bookCatalog.js"></script>
@}
