@layout("/common/_container.html"){
<style type="text/css">
    /*
    .head-scu-btn{
        margin-top: 60px;
    }
    */
    .form-group {
        margin-bottom: 0px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    #ad1_imgPreId img,#ad2_imgPreId img,#ad3_imgPreId img,#ad4_imgPreId img,#ad5_imgPreId img,#ad6_imgPreId img,#ad7_imgPreId img{
        width: 200px;
        height: 100px;
    }
    #ad8_imgPreId img,#ad9_imgPreId img,#ad10_imgPreId img{
        width: 200px;
        height: 40px;
    }
    #resource_imgPreId img{
        width: 90px;
        height: 100px;
    }
    #collection_imgPreId img,#center_imgPreId img{
        width: 90px;
        height: 50px;
    }
    #integralmall_imgPreId img,#bbs_imgPreId img,#opinion_imgPreId img,#wxqrcode_imgPreId img,#logo_imgPreId img{
        width: 100px;
        height: 100px;
    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${mpInfo.id}">
            <input type="hidden" id="userid" value="${mpInfo.userid}">

            <div class="row">

                <div class="row">
                    <div class="col-sm-3 b-r">
                        <#avatar id="wxqrcode_img" avatarImg="${mpInfo.wxqrcode_img}" name="公众号二维码" />
                    </div>
                    <div class="col-sm-3 b-r">
                        <#input id="wxname" value="${mpInfo.wxname}" name="公众号名称" />
                    </div>
                    <div class="col-sm-6 b-r">
                        <#textarea id="rights" name="会员权益说明" style="width:100%;height:115px;" value="${mpInfo.rights}" />
                    </div>
                </div>
                <hr>

            </div>




            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MpInfoDlg.editSubmit()"/>
                </div>
            </div>




        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/mpInfo/mpInfo.js"></script>
@}
