@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>书籍管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Book.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BookTableToolbar" role="group">
                            @if(shiro.hasPermission("/book/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Book.openAddBook()"/>
                            @}
                            @if(shiro.hasPermission("/book/update")){
                                <#button btnCss="warning" name="修改" icon="fa-edit" clickFun="Book.openBookDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/book/delete")){
                                <#button btnCss="danger" name="删除" icon="fa-remove" clickFun="Book.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/book/detail")){
                                <#button btnCss="info" name="详情" icon="fa-search" clickFun="Book.detail()" space="true"/>
                            @}
                        </div>
                        <#table id="BookTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/book/book/book.js"></script>
@}
